spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/riskwatch}
    username: ${SPRING_DATASOURCE_USERNAME:riskwatch}
    password: ${SPRING_DATASOURCE_PASSWORD:riskwatch123}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

logging:
  level:
    root: INFO
    com.sucheth.riskwatch: DEBUG
    org.springframework.web: INFO
    org.hibernate: WARN
